extends layout

block content
  h1  About Braintree Demo Portal
  section.css-table
    section.two-column
      section.cell
        //
      section.cell
        //
  section.css-table
    section.three-column
      section.cell
        h3 Why Braintree?
        p Braintree allows developers to accept PayPal, Bitcoin, Venmo, Apple Pay, Android Pay, cards, and whatever’s next -- all with a single integration.
      section.cell
        h3 Who&#39;s using Braintree?
        p Everyone from Uber to GitHub and AirBnB to OpenTable use Braintree for their processing needs. Check out more Braintree clients here...
      section.cell
        h3 How flexible is Braintree?
        p Braintree offers SDK&#39;s in 6 languages, can accept payments in 40+ countries in 130 different currencies, all with industry leading fraud protection.
