extends layout

block content
  h1 Recurring Payment
  section.css-table
    section.two-column
      section.cell
        h2 Drop-In UI Demo
        form(method='post', action='/sale-checkout')
          #payment-form
          input(type='submit', value='Pay $1.00 (Sandbox)')
          br
          &nbsp;
          //img(src='images/cc_logos.jpg', alt='Braintree & PayPal', width='185', height='62.5')
        script(src='https://js.braintreegateway.com/v2/braintree.js')
        script.
          braintree.setup(
              "#{clientToken}",
              "dropin", {
              container: "payment-form",
              paypal: {
                singleUse: true,
                amount: 1.00,
                currency: 'USD',
                displayName: 'Braintree Node.JS SDK Demo'
              }
          })
      section.cell
        h4 Client-Side Code:
        pre.
          braintree.setup(
            "clientToken",
            "dropin", {
              containter: "payment-form",
              paypal: {
                singleUse: true,
                amount: 1.00,
                currency: 'USD',
                displayName: 'Braintree Node.JS SDK Demo'
              }
            }
          )
        img(src='images/cc_logos_big.jpg', alt='Braintree & PayPal')
  section.css-table
    section.three-column
      section.cell
        h3 Current clientToken
        p(style='width: 900px; overflow: scroll;') #{clientToken}
      section.cell
        //
      section.cell
        // 